body {
  padding: 50px;
}

.container {
  margin: 0 auto;
  width: 500px;
  border: 2px solid #C3C3C3;
  border-radius: 3px;
}


header {
  background: #428BCA;
  padding-left: 20px;
  color: white;
  border: 1px solid #2F83CC;
}


.formElement {
position: relative;

}

input {
  margin: 20px 0px 10px 30px;
  padding: 5px;
  padding-left: 30px;
  border-radius: 3px;
  width: 70%;
  border-color: #D0D4D7;
  border-radius: 3px;
}

select {
  margin: 20px 0px 10px 30px;
  border-radius: 3px;
  border-color: #D0D4D7;
  border-radius: 3px;
  width: 388px;
  background: white;
  font-size: 12px;
  color: black;
}

textarea {
  margin: 20px 0px 10px 30px;
  padding: 5px;
  padding-left: 30px;
  border-radius: 3px;
  width: 70%;
  border-color: #D0D4D7;
  border-radius: 3px;
  height: 150px;
}


.fa {
  position: absolute;
  left: 40px;
  top: 30px;
  font-size: 12px;
  color: #A6B0B8;
}




::-webkit-input-placeholder {
  padding: 3px 0px 0px 0px;
  font-size: 11px;
  font-weight: bold;
  color: #A6B0B8;
}

.footer {
  background: #C9DEF0;
  padding-bottom: 50px;
}

button {
  margin-top: 30px;
  margin-left: 15px;
  background: #428BCA;
  color: white;
  border: 1px solid #2E7FC4;
  padding: 7px;
  border-radius: 3px;
}
